body{
    background-image: url("/IMG2.avif");
    background-size: 100%;
    

}
.container{
    width: 550px;
    height: 480px;
    position: relative;
    left: 350px;
    top:30px;
}

.glass{
    background-color: rgba(360deg 16, 15, 15, 0.616);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter:blur(6px) ;
    border-radius: 20px;
    border: 2px solid rgb(61, 57, 57);
}

/* ----------------------------------------------------------------------------------------------------------------- */


.calculator {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

#display {
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: right;
}
#equal{
    position: relative;
    left: 200px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
button {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #2c2929;
    background-color: #2c2929;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b3939;
    color: white;
}
